@model m21_e2_WEB.Models.MainClass

@{
    ViewBag.Title = @Model.siteText.MainPage_MainLinkText;
}
<form asp-action="EditMainPageConfirm" asp-controller="Home">

    <div class="container" style="background-color:darkcyan;">
            @if (ViewContext.RouteData.Values["action"].ToString() == "EditMainPage")
            {
                <table style="margin:auto">
                    <tr style="">
                        <td rowspan="3">
                            <img style="width: 500px; height: 200px; object-fit: cover;"
                                 src="//localhost:44380/api/application/getpixbyname/main_page_1.png" />
                        </td>
                        <td class="layout-links">
                            <input required type="text" asp-for="siteText.MainPage_MainLinkText" value="@Model.siteText.MainPage_MainLinkText" />
                            <input required type="text" asp-for="siteText.MainPage_ServicesLinkText" value="@Model.siteText.MainPage_ServicesLinkText" />
                            <input required type="text" asp-for="siteText.MainPage_ProjectsLinkText" value="@Model.siteText.MainPage_ProjectsLinkText" />
                            <input required type="text" asp-for="siteText.MainPage_BlogLinkText" value="@Model.siteText.MainPage_BlogLinkText" />
                            <input required type="text" asp-for="siteText.MainPage_ContactsLinkText" value="@Model.siteText.MainPage_ContactsLinkText" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input required style="width:100%" type="text" asp-for="@Model.tagLineList[0].TagLineText" value="@Model.tagLineList[0].TagLineText" /> <br>
                            <input required style="width:100%" type="text" asp-for="@Model.tagLineList[1].TagLineText" value="@Model.tagLineList[1].TagLineText" /> <br>
                                <input required style="width:100%" type="text" asp-for="@Model.tagLineList[2].TagLineText" value="@Model.tagLineList[2].TagLineText" />
                        </td>  
                    </tr>
                    <tr>
                        <td style="padding-bottom:20px; text-align:center; ">
                            <input required type="text" asp-for="siteText.MainPage_RequestButtonText" value="@Model.siteText.MainPage_RequestButtonText" /> 
                        </td>
                    </tr>
                </table>
            }
    </div>
    <div class="mainpage-pix">
        <span>
            <input required type="text" asp-for="siteText.MainPage_CompanyDescriptionText" value="@Model.siteText.MainPage_CompanyDescriptionText" class="form-control" />
        </span>    
    </div>        
    <div>
        @Model.siteText.MainPage_MainLinkText
    </div>
    <div>
        <input required type="text" asp-for="siteText.MainPage_RequestText" value="@Model.siteText.MainPage_RequestText" class="form-control" />
    </div>
    <div class="form-group">
        <label  class="control-label">Имя</label>
        <input type="text"  class="form-control" disabled />
    </div>
    <div class="form-group">
        <label  class="control-label">E-mail</label>
        <input type="text"  class="form-control" disabled />
    </div>
    <div class="form-group">
        <label  class="control-label">Текст сообщения</label>
        <input type="text"  class="form-control" disabled />
    </div>
    <br />
    <div hidden class="form-group">
        <input type="submit" value="Отправить" class="btn btn-secondary" disabled />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />        
    </div>
</form>
<br />

<form asp-action="MainPage" asp-controller="Home">
    <input type="submit" value="Отменить" class="btn btn-primary" />
</form>